pinwheel/schema/pinwheel.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema
  targetNamespace="https://bjango.com/pinwheel"
  xmlns="https://bjango.com/pinwheel"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="pinwheel">
    <xs:complexType>
      <xs:choice>
        <xs:element name="project" type="ProjectType" minOccurs="1" maxOccurs="1" />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element name="header" type="HeaderType" />
      <xs:element name="settings" type="SettingsType" />
      <xs:element name="colorItems" type="ColorItemsType" />
      <xs:element name="buildGroups" type="BuildGroupsType" />
      <xs:element name="testGroups" type="TestGroupsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="version" type="xs:string" />
      <xs:element name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SettingsType">
    <xs:sequence>
      <xs:element name="setting" type="SettingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SettingType">
    <xs:sequence>
      <xs:element name="key" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorItemsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="colorSet" type="ColorSetType" />
      <xs:element name="colorItem" type="ColorItemType" />
      <xs:element name="alias" type="AliasType" />
      <xs:element name="group" type="GroupType" />
      <xs:element name="numberItem" type="NumberItemType" />
      <xs:element name="numberAlias" type="NumberAliasType" />
      <xs:element name="booleanItem" type="BooleanItemType" />
      <xs:element name="booleanAlias" type="BooleanAliasType" />
      <xs:element name="stringItem" type="StringItemType" />
      <xs:element name="stringAlias" type="StringAliasType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ColorSetType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="profile" type="xs:string" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="autoContrast" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="steps" type="xs:integer" />
      <xs:element name="interpolation" type="xs:integer" />
      <xs:element name="type" type="xs:integer" />
      <xs:element name="middle" type="xs:decimal" />
      <xs:element name="naming" type="xs:integer" />
      <xs:element name="colors" type="ColorsType" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testPosition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="profile" type="xs:string" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="autoContrast" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="color" type="ItemColorType" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testPosition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="type" type="xs:integer" />
      <xs:element name="typeLightHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDark" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDarkHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="autoContrast" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="subIndex" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdLightHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="subIndexLightHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDark" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="subIndexDark" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDarkHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="subIndexDarkHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testPosition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NumberAliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="type" type="xs:integer" />
      <xs:element name="typeLightHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDark" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDarkHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdLightHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDark" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDarkHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BooleanAliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="type" type="xs:integer" />
      <xs:element name="typeLightHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDark" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDarkHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdLightHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDark" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDarkHighContrast" type="xs:string" minOccurs="0"  maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="StringAliasType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="type" type="xs:integer" />
      <xs:element name="typeLightHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDark" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="typeDarkHighContrast" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdLightHighContrast" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDark" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="referencedItemIdDarkHighContrast" type="xs:string" minOccurs="0"  maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroupType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="expanded" type="xs:string" minOccurs="0" />
      <xs:element name="namespace" type="xs:string" minOccurs="0" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="colorSet" type="ColorSetType" />
        <xs:element name="colorItem" type="ColorItemType" />
        <xs:element name="alias" type="AliasType" />
        <xs:element name="group" type="GroupType" />
        <xs:element name="numberItem" type="NumberItemType" />
        <xs:element name="numberAlias" type="NumberAliasType" />
      </xs:choice>
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="testPosition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AppearanceValues">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="lightanddark" />
      <xs:enumeration value="highContrast" />
      <xs:enumeration value="highContrastAuto" />
      <xs:enumeration value="lightDarkHighContrast" />
      <xs:enumeration value="lightDarkHighContrastAuto" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NumberItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="number" type="ItemNumberType" />
      <xs:element name="min" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="max" type="xs:decimal" minOccurs="0" maxOccurs="1" />
      <xs:element name="steps" type="xs:integer" minOccurs="0" maxOccurs="1" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BooleanItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="boolean" type="ItemBooleanType" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="string" type="ItemStringType" />
      <xs:element name="appearance" type="AppearanceValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="buildGroupId" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorsType">
    <xs:sequence>
      <xs:element name="color" type="ColorType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="variants" type="VariantsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariantsType">
    <xs:sequence>
      <xs:element name="variant" type="VariantType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariantType">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="rgba" type="xs:string" />
      <xs:element name="value">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ValueType" />
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="type" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:simpleType name="ValueType">
    <xs:union memberTypes="xs:decimal xs:boolean xs:string" />
  </xs:simpleType>

  <xs:complexType name="ItemColorType">
    <xs:sequence>
      <xs:element name="variants" type="VariantsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemNumberType">
    <xs:sequence>
      <xs:element name="variants" type="VariantsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemBooleanType">
    <xs:sequence>
      <xs:element name="variants" type="VariantsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemStringType">
    <xs:sequence>
      <xs:element name="variants" type="VariantsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuildGroupsType">
    <xs:sequence>
      <xs:element name="buildGroup" type="BuildGroupType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuildGroupType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="expanded" type="xs:string" minOccurs="0" />
      <xs:element name="tasks" type="TasksType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TasksType">
    <xs:sequence>
      <xs:element name="task" type="TaskType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="folder" type="xs:string" />
      <xs:element name="fileName" type="xs:string" />
      <xs:element name="fileType" type="xs:integer" />
      <xs:element name="nameTransform" type="xs:integer" />
      <xs:element name="namePrefix" type="xs:string" minOccurs="0" />
      <xs:element name="nameSuffix" type="xs:string" minOccurs="0" />
      <xs:element name="format" type="BuildTaskFormatValues" minOccurs="0" maxOccurs="1" />
      <xs:element name="configuration" type="TaskConfigurationType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="BuildTaskFormatValues">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cssHex" />
      <xs:enumeration value="cssRGBA" />
      <xs:enumeration value="cssColor" />
      <xs:enumeration value="cssOKLCH" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TaskConfigurationType">
    <xs:sequence>
      <xs:element name="assetCatalogSymbols" type="AssetCatalogSymbolValues" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AssetCatalogSymbolValues">
    <xs:restriction base="xs:string">
      <xs:enumeration value="notSet" />
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TestGroupsType">
    <xs:sequence>
      <xs:element name="testGroup" type="TestGroupType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TestGroupType">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="expanded" type="xs:string" minOccurs="0" />
      <xs:element name="tests" type="TestsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TestsType">
    <xs:sequence>
      <xs:element name="test" type="TestType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TestType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="type" type="xs:string" />
      <xs:element name="thresholdType" type="xs:string" minOccurs="0" />
      <xs:element name="fontSize" type="xs:integer" minOccurs="0" />
      <xs:element name="fontWeight" type="xs:integer" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>